ul.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex !important;
    justify-content: center; */

}


ul.slick-dots li {
    background: rgba(128, 128, 128);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    display: inline-block;
}

ul.slick-dots li.slick-active {
    background-color: #FFF;
}

ul.slick-dots li button {
    /* visibility: hidden; */
    opacity: 0;
}